<h2>Experiencia Laboral</h2>
<hr>

<div class="container-fxLayout">
    <!-- fxFlex en forma de fila con columnas, pero si la pantalla se vuelve más pequeña (sm, xs) pasa a ser 1 columna con filas -->
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

        <!-- Columna izquierda -> Primera fila / IMAGEN -->
        <div fxFlex.gt-sm="40%" class="exp-lista">
            <mat-list>

                <div mat-subheader>Universidad Nacional Andrés Bello - Santiago | Remoto</div>
            
                <mat-list-item>
                  <div mat-line>Tutor Contact Center</div>
                  <div mat-line>Septiembre 2020 - Abril 2022</div>
                </mat-list-item>
            
                <mat-list-item>
                    <div mat-line>Desarrollador Web</div>
                    <div mat-line> Marzo 2021 - Septiembre 2021 </div>
                </mat-list-item>

            </mat-list>
        </div>
        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="60%" class="exp-info">
            <p>	
                Como Tutor del Contact Center UNAB mi principal labor fue estar a cargo del envío de mensajería masiva para el área de admisión y redes sociales, esto a través
                de plataformas como MasterBase, Teleco Chile, Digevo Ads, Sinch y Chattigo, tanto para correos electrónicos, SMS y WhatsApp. Además, durante este periodo 
                tuve la oportunidad ser apoyo en la atención de prospectos y resolver sus dudas.
            </p>
            <p>
                En cuanto a mi aporte como Desarrollador Web, el área de Contact Center manejaba un gran volumen de información que muchas veces era actualizada diariamente. Debido a esto participé
                de la creación de un sitio de uso interno cuyo fin básicamente fue centralizar la información para que los supervisores la mantuvieran actualizada y los tutores pudieran consultarla
                siempre que lo necesitaran. Este sitio fue desarrollado principalmente en Php, apoyado de Bootstrap, CSS y JavaScript, con base de datos MySQL
            </p>
        </div>

    </div>

</div>

<mat-divider></mat-divider>
<div class="container-fxLayout">
    <!-- fxFlex en forma de fila con columnas, pero si la pantalla se vuelve más pequeña (sm, xs) pasa a ser 1 columna con filas -->
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

        <!-- Columna izquierda -> Primera fila / IMAGEN -->
        <div fxFlex.gt-sm="40%" class="exp-lista">
            <mat-list>

                <div mat-subheader>Ripley - Rancagua</div>
            
                <mat-list-item>
                    <div mat-line>Técnico en SAT</div>
                    <div mat-line> Diciembre 2018 - Febrero 2019 </div>
                </mat-list-item>

            </mat-list>
        </div>
        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="60%" class="exp-info">
            <p>	
                Encargado de recibir y revisar los distintos tipos de productos tecnológicos que clientes de la empresa Ripley llevaran para cambio o devolución, ya fuera por
                insatisfacción o garantía. Mi deber consistía en verificar el estado de los productos y derivar a Servicio Técnico, cambio directo o bien indicar, en caso de que el
                producto no cumpliera con las polizas establecidas, que la garantía no aplicaba.
            </p>
        </div>

    </div>
    
</div>
<mat-divider></mat-divider>

<div class="container-fxLayout">
    <!-- fxFlex en forma de fila con columnas, pero si la pantalla se vuelve más pequeña (sm, xs) pasa a ser 1 columna con filas -->
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

        <!-- Columna izquierda -> Primera fila / IMAGEN -->
        <div fxFlex.gt-sm="40%" class="exp-lista">
            <mat-list>

                <div mat-subheader>Dirección Regional de Gendarmería de Chile - Rancagua</div>
            
                <mat-list-item>
                    <div mat-line>Práctica Profesional</div>
                    <div mat-line> 2018 </div>
                </mat-list-item>

            </mat-list>
        </div>
        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="60%" class="exp-info">
            <p>	
                Durante mi práctica profesional el foco principal fue el área técnica de mi carrera, brindando apoyo al personal de planta en sus distintas necesidades de 
                caracter informática, además de configuración y entrega de PC's e impresoras, cableado y redes 
            </p>
            <p>	
                Además de lo anterior, también tuve la oportunidad de desarrollar una pequeña aplicación web local de inventario para el área informática de gendarmería, la cual
                fue desarrollada en Php y con base de datos MySQL
            </p>
        </div>

    </div>
    
</div>

