<h2>Formación Académica</h2>
<hr>
<mat-list>

    <div mat-subheader>Educación Superior</div>

    <mat-list-item>
      <mat-icon mat-list-icon>school</mat-icon>
      <div mat-line>Analista Programador</div>
      <div mat-line> 2015 - 2018 | INACAP Rancagua </div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon mat-list-icon>school</mat-icon>
        <div mat-line>Pedagogía en Filosofía</div>
        <div mat-line> 2013 - 2014 | Universidad de Santiago de Chile </div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div mat-subheader>Cursos</div>

    <mat-list-item>
        <mat-icon mat-list-icon>data_object</mat-icon>
        <div mat-line>Angular</div>
        <div mat-line> 2022 | Udemy - <a href="https://www.udemy.com/certificate/UC-0079abd3-56ed-49cd-8494-bda80f5c036b/">UC-0079abd3-56ed-49cd-8494-bda80f5c036b</a> </div>
      </mat-list-item>
  
      <mat-list-item>
          <mat-icon mat-list-icon>javascript</mat-icon>
          <div mat-line>JavaScript</div>
          <div mat-line> 2022 | Udemy - <a href="https://www.udemy.com/certificate/UC-aeb39714-5457-4d45-a475-2467d2d65292/">UC-aeb39714-5457-4d45-a475-2467d2d65292</a> </div>
      </mat-list-item>
  
</mat-list>

<h2>Conocimientos</h2>
<hr>

<div class="container-fxLayout">
    <!-- fxFlex en forma de fila con columnas, pero si la pantalla se vuelve más pequeña (sm, xs) pasa a ser 1 columna con filas -->
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

        <!-- Columna izquierda -> Primera fila / IMAGEN -->
        <div fxFlex.gt-sm="25%" class="conocimientos-detalles">
            
            <mat-list>
                <div mat-subheader>Lenguajes</div>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>html</mat-icon>
                    <div mat-line>Html</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                  <mat-icon mat-list-icon>php</mat-icon>
                  <div mat-line>Php</div>
                  <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>javascript</mat-icon>
                    <div mat-line>JavaScript</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>data_array</mat-icon>
                    <div mat-line>TypeScript</div>
                    <div mat-line>Básico</div>
                </mat-list-item>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>css</mat-icon>
                    <div mat-line>CSS</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
              </mat-list>

        </div>

        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="25%" class="conocimientos-detalles">
          
            <mat-list>
                <div mat-subheader>Bases de Datos</div>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>join_full</mat-icon>
                    <div mat-line>MySQL</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                  <mat-icon mat-list-icon>join_inner</mat-icon>
                  <div mat-line>SQL Server</div>
                  <div mat-line>Básico</div>
                </mat-list-item>
              </mat-list>

        </div>

        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="25%" class="conocimientos-detalles">
          
            <mat-list>
                <div mat-subheader>Frameworks</div>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>data_object</mat-icon>
                    <div mat-line>Angular</div>
                    <div mat-line>Básico</div>
                </mat-list-item>
            
                <mat-list-item>
                  <mat-icon mat-list-icon>code</mat-icon>
                  <div mat-line>Bootstrap</div>
                  <div mat-line>Medio</div>
                </mat-list-item>
            
              </mat-list>

        </div>

        <!-- Columna derecha -> Segunda fila / DESCRIPCIÓN -->
        <div fxFlex.gt-sm="25%" class="conocimientos-detalles">
          
            <mat-list>
                <div mat-subheader>Otros</div>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>language</mat-icon>
                    <div mat-line>Inglés</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                  <mat-icon mat-list-icon>receipt_long</mat-icon>
                  <div mat-line>Word</div>
                  <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>table_rows</mat-icon>
                    <div mat-line>Excel</div>
                    <div mat-line>Medio</div>
                </mat-list-item>
            
                <mat-list-item>
                    <mat-icon mat-list-icon>space_dashboard</mat-icon>
                    <div mat-line>Power Point</div>
                    <div mat-line>Básico</div>
                </mat-list-item>
            
              </mat-list>

        </div>

    </div>

</div>