
<h2>Algunos de mis trabajos</h2>
<hr>
<br>
<br>
<app-carousel [images] = trabajosUnoImgs [tarjetas] = "trabajosUnoDesc" [indicators]="false"></app-carousel>
<br>
<mat-divider></mat-divider>
<br>
<app-carousel [images] = trabajosDosImgs [tarjetas] = "trabajosDosDesc" [indicators]="false"></app-carousel>
<br>
<mat-divider></mat-divider>
<br>
<app-carousel [images] = trabajosTresImgs [tarjetas] = "trabajosTresDesc" [indicators]="false"></app-carousel>
<br>
<mat-divider></mat-divider>
<br>
<app-carousel [images] = trabajosCuatroImgs [tarjetas] = "trabajosCuatroDesc" [indicators]="false"></app-carousel>
<br>
